<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Level 3</title>
    <!-- Internal game scripts/styles, mostly boring stuff -->
    <link rel="stylesheet" href="{{ url_for('static', filename='game-frame-styles.css') }}" />
    <script src="{{ url_for('static', filename='game-frame.js') }}"></script>
    <!-- Load jQuery -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>

  <body id="level3">
    <div id="header">
      <img src="{{ url_for('static', filename='level3.png') }}">
      <span>Take a tour of our cloud data center.</a>
    </div>
    <br>
    <div class="tab" id="tab1">Image 1</div>
    <div class="tab" id="tab2">Image 2</div>
    <div class="tab" id="tab3">Image 3</div>
 
    <div id="tabContent"> </div>
  </body>
</html>
