<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'nonce-2333'; script-src 'nonce-2333'">
    <title>Level 4</title>
    <!-- Internal game scripts/styles, mostly boring stuff -->
    <script src="https://xss-game.appspot.com/static/game-frame.js" nonce="2333"></script>
    <link rel="stylesheet" href="https://xss-game.appspot.com/static/game-frame-styles.css" nonce="2333">  
  </head>
 
    <body id="level4">
        <img src="{{url_for('static', filename='level4.png')}}">
        <br>
        <form action="" method="GET">
          <input id="timer" name="timer" value="3">
          <input id="button" type="submit" value="Create timer"> </form>
        </form>
    </body>
</html>