<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'nonce-2333'; script-src 'nonce-2333'">
    <title>Level 1</title>
    <!-- Internal game scripts/styles, mostly boring stuff -->
    <script src="https://xss-game.appspot.com/static/game-frame.js" nonce="2333"></script>
    <link rel="stylesheet" href="https://xss-game.appspot.com/static/game-frame-styles.css" nonce="2333">
  </head>
 
  <body id="level1">
    <img src="{{url_for('static', filename='level1.png')}}">
      <div>
        Sorry, no results were found for <b> {{query}} </b>. <a href='?'>Try again</a>.
        </div>
    </body>
  </html>